$containerWidth: 940px;
$baseFontSize: 16px;



//breakpoints

$tablets:768px;
$phones: 480px;

//colors
$gray: #F5F5F5;
$black: #181818;

//z-indexes
$z-fixed-menu: 100;

@import "media";

//normalize
@import url("./normalize.css");

//setups
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import "layout";

//components

@import "./hero.scss";
@import "./header.scss";
@import "./menu.scss";
@import "./phone-number.scss";
@import "./features.scss";
@import "./feature.scss";
@import "./btn.scss";
@import "./simpleslider.scss";
@import "./dropdown.scss";
@import "./settings.scss";
@import "./acc.scss";
@import "./section.scss";
@import "./headline.scss";
@import "./benefits.scss";
@import "./benefit.scss";
@import "./reviews.scss";
@import "./interactive-avatar.scss";
@import "./form.scss";
@import "./radio.scss";
@import "./modal.scss";
@import "./footer.scss";
@import "./contacts.scss";
@import "./fixed-menu.scss";
@import "./hamburger.scss";
@import "./fullscreenmenu.scss";
@import "./player.scss";
@import "./products.scss";
@import "./map.scss";