.phone-number {
  font-size: rem(18px);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-number__icon-elem {
  width: rem(14px);
  height: rem(14px);
  margin-right: rem(6px);
}